<%- include("partials/sub-header.ejs") %>
  <h1>FAQs</h1>
  <h2>How do I create my own post</h2>
    <P> <em>Answer:</em>
      You can create your own post by clicking on the create Icon. Enter your name, topic, section and write the content of your post in the input section. Be sure to proof read before submitting.
    </P>
  <br>

  <h2>How do I create my own post</h2>
    <P> <em>Answer:</em>
      You can create your own post by clicking on the create Icon. Enter your name, topic, section and write the content of your post in the input section. Be sure to proof read before submitting.
    </P>
  <br>

  <h2>How do I create my own post</h2>
    <P> <em>Answer:</em>
      You can create your own post by clicking on the create Icon. Enter your name, topic, section and write the content of your post in the input section. Be sure to proof read before submitting.
    </P>
  <br>
  
  <h2>How do I create my own post</h2>
    <P> <em>Answer:</em>
      You can create your own post by clicking on the create Icon. Enter your name, topic, section and write the content of your post in the input section. Be sure to proof read before submitting.
    </P>
  <br>

<%- include("partials/footer.ejs") %>